In [1]:
from datetime import datetime, timedelta
import pandas as pd
import time

In [3]:
df = pd.read_csv('../data/logs/vcp_log.csv')
df.head()

                     datetime input      mode
0  2020-02-07 21:22:43.411133    up  sequence
1  2020-02-07 21:22:43.825271    up  sequence
2  2020-02-07 21:22:44.235036    up  sequence
3  2020-02-07 21:22:44.648458    up  sequence
4  2020-02-07 21:22:45.060685    up  sequence

In [4]:
df['datetime_r'] =  pd.to_datetime(df['datetime'], format = '%Y-%m-%d %H:%M:%S.%f')

In [5]:
df.head()

                     datetime input      mode                 datetime_r
0  2020-02-07 21:22:43.411133    up  sequence 2020-02-07 21:22:43.411133
1  2020-02-07 21:22:43.825271    up  sequence 2020-02-07 21:22:43.825271
2  2020-02-07 21:22:44.235036    up  sequence 2020-02-07 21:22:44.235036
3  2020-02-07 21:22:44.648458    up  sequence 2020-02-07 21:22:44.648458
4  2020-02-07 21:22:45.060685    up  sequence 2020-02-07 21:22:45.060685

In [10]:
a = df['datetime_r'][1] - df['datetime_r'][0]

In [21]:
a.total_seconds()

0.414138

In [23]:
rows = len(df['datetime_r'])
rows

1412

In [40]:
i = 1
for i in range(1,rows):
    a = df['datetime_r'][i] - df['datetime_r'][i-1]
    t = a.total_seconds()
    if t > 300:
        print(df['datetime_r'][i-1])
        print(df['datetime_r'][i])
        print('--------------------------')

2020-02-07 21:31:16.524228
2020-02-07 22:08:45.819384
--------------------------
2020-02-07 22:09:13.219582
2020-02-07 22:17:18.292342
--------------------------
2020-02-07 22:23:58.466970
2020-02-08 10:12:22.110039
--------------------------
2020-02-08 10:21:55.373558
2020-02-08 10:29:00.471188
--------------------------
2020-02-08 10:40:55.113595
2020-02-08 10:46:49.793644
--------------------------
2020-02-08 10:59:12.634329
2020-02-08 11:07:40.036686
--------------------------
2020-02-08 11:10:14.003028
2020-02-08 11:51:43.995670
--------------------------
2020-02-08 12:40:41.753487
2020-02-08 12:45:49.563188
--------------------------
2020-02-08 13:23:33.799195
2020-02-08 13:41:25.099714
--------------------------